@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #2BD984;
    --title-color: #242329;
    --description-color: #454545;
    --light-color: #BABABA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin: 60px 0;
}

.container {
    width: 1200px;
    margin: auto;
}

